body{
    background-color:#000;
}

.columna1{
    text-align: center;
    margin-top: 20%;
    background-color: rgb(62, 126, 110);
    color: greenyellow;
    padding: 30px 30px;
}

.columna2{
    text-align: center;
    margin-top: 20px;
}

.columna2 button{
    color: greenyellow;
}